<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TEAM 404 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">


   

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">

                <div class="sidebar-brand-text mx-3">surveillance </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>



            <!-- Sidebar Message -->


        </ul>



            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->

                            <!-- Dropdown - Messages -->

                        

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">


                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Criminal Activity</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data_activity}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                No of faces image stored</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data_face}}</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Criminal detected
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="Criminal">{{data_criminal}}</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                number-plate detected</div>
                                       
                                            <img src="/static/data/numberplate/numberplate.jpg" alt="number plate" width="200" height="50">
                                        

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">

                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Live Video feed</h6>
                                    <img src="/static/data/live_feed/livefeed.jpg" alt="live feed" width="700" height="400">
                                </div>
                                <!-- Card Body -->
                                <!-- <div class="card-body">
                                    <div class="chart-area">
                                        
                                        
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Activity</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myChart" > </canvas>
                                    </div>

                                    <div class="chart-pie pt-4 pb-2">
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="1"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="2"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="3"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="4"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="5"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="6"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="7"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="8"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="9"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="10"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="11"></a>
                                        <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" id="12"></a>
                                        
                                    </div>

                                    <!-- <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Assault
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Arrest
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Robbery
                                        </span>
                                    </div> -->
                                </div>

                                


                            </div>
                        </div>
                    </div>



                           
                          
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <!-- <script src="static/vendor/chart.js/Chart.min.js"></script>

    <!- Page level custom scripts -->
    <!-- <script src="static/js/demo/chart-area-demo.js"></script>
    <script src="static/js/demo/chart-pie-demo.js"></script> --> 

    <!-- pie chart script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <script>

    var eventSource = new EventSource("/listen")
    
    eventSource.addEventListener("message", function(e) {
      console.log(e.data)
    }, false)

    eventSource.addEventListener("online", function(e) {
    //    console.log(e.data)
      data = JSON.parse(e.data)
      console.log(data)
    //   document.querySelector("#tempreature").innerText = data.Tempreature
    //   document.querySelector("#moisture").innerText = data.Moisture
    //   document.querySelector("#humidity").innerText = data.Humidity
    var xValues = ["Abuse", "Arrest","Assault","Burglary","Explosion","Fighting","Normal","Accident","Robbery","Shooting","Shop Lifting","Stealing","Vandalism"];
        var yValues = data.data;
        var barColors = [
          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145",
          "#800000",
          "#FFFF00",
          "#808000",
          "#00FF00",
          "#008000",
          "#00FFFF",
          "#008080",
        ];
        
        new Chart("myChart", {
          type: "doughnut",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            legend: {
                display: false
            }  
          }
        });

        document.getElementById('1').style.backgroundColor = barColors[0];
        document.getElementById('1').innerText = xValues[0];

        document.getElementById('2').style.backgroundColor = barColors[1];
        document.getElementById('2').innerText = xValues[1];

        document.getElementById('3').style.backgroundColor = barColors[2];
        document.getElementById('3').innerText = xValues[2];

        document.getElementById('4').style.backgroundColor = barColors[3];
        document.getElementById('4').innerText = xValues[3];

        document.getElementById('5').style.backgroundColor = barColors[4];
        document.getElementById('5').innerText = xValues[4];

        document.getElementById('6').style.backgroundColor = barColors[5];
        document.getElementById('6').innerText = xValues[5];

        document.getElementById('7').style.backgroundColor = barColors[6];
        document.getElementById('7').innerText = xValues[6];

        document.getElementById('8').style.backgroundColor = barColors[7];
        document.getElementById('8').innerText = xValues[7];

        document.getElementById('9').style.backgroundColor = barColors[8];
        document.getElementById('9').innerText = xValues[8];

        document.getElementById('10').style.backgroundColor = barColors[9];
        document.getElementById('10').innerText = xValues[9];
      
        document.getElementById('11').style.backgroundColor = barColors[10];
        document.getElementById('11').innerText = xValues[10];

        document.getElementById('12').style.backgroundColor = barColors[11];
        document.getElementById('12').innerText = xValues[11];

    }, true)


        // var xValues = ["Abuse", "Arrest","Assault","Burglary","Explosion","Fighting","Normal","Accident","Robbery","Shooting","Shop Lifting","Stealing","Vandalism"];
        // var yValues = [data[0],data[2]];
        // var barColors = [
        //   "#b91d47",
        //   "#00aba9",
        //   "#2b5797",
        //   "#e8c3b9",
        //   "#1e7145",
        //   "#800000",
        //   "#FFFF00",
        //   "#808000",
        //   "#00FF00",
        //   "#008000",
        //   "#00FFFF",
        //   "#008080",
        // ];
        
        // new Chart("myChart", {
        //   type: "doughnut",
        //   data: {
        //     labels: xValues,
        //     datasets: [{
        //       backgroundColor: barColors,
        //       data: yValues
        //     }]
        //   },
        //   options: {
        //     legend: {
        //         display: false
        //     }  
        //   }
        // });

        // document.getElementById('1').style.backgroundColor = barColors[0];
        // document.getElementById('1').innerText = xValues[0];

        // document.getElementById('2').style.backgroundColor = barColors[1];
        // document.getElementById('2').innerText = xValues[1];

        // document.getElementById('3').style.backgroundColor = barColors[2];
        // document.getElementById('3').innerText = xValues[2];

        // document.getElementById('4').style.backgroundColor = barColors[3];
        // document.getElementById('4').innerText = xValues[3];

        // document.getElementById('5').style.backgroundColor = barColors[4];
        // document.getElementById('5').innerText = xValues[4];

        // document.getElementById('6').style.backgroundColor = barColors[5];
        // document.getElementById('6').innerText = xValues[5];

        // document.getElementById('7').style.backgroundColor = barColors[6];
        // document.getElementById('7').innerText = xValues[6];

        // document.getElementById('1').style.backgroundColor = barColors[7];
        // document.getElementById('1').innerText = xValues[7];

        // document.getElementById('1').style.backgroundColor = barColors[8];
        // document.getElementById('1').innerText = xValues[8];
      
        </script>

</body>

</html>